.numbers
{
    margin: 10px 0px;
    text-align: center;
}

.number
{
    display: inline-block;
    width: 50px;
    padding: 14px 0px;
    margin: 0px 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0.686);
}